<div class="form">
  <h3>Enter Your New Trip Information</h3>
  <form action="#">
    <div>
      <label for="location">Location</label>
      <input type="text">
    </div>
    <div class="row">
      <div class="col-md-8 col-offset-2">
        <label for="num_of_fish">Number of Fish Caught</label>
        <input type="text">
      </div>
    </div>
    <div>
      <label for="clientsHappy">Clients Happy?</label>
      <input type="checkbox">
    </div>
    <div>
      <label for="rating">Rating</label>
      <input type="number">
    </div>
    <div>
      <label for="summary">Summary</label>
      <input type="text">
    </div>
    <div>
      <label for="start">Start of Trip</label>
      <input type="text">
    </div>
    <div>
      <label for="end">End of Trip</label>
      <input type="text">
    </div>
    <button type="submit">Update Changes</button>
  </form>
</div>
