<section ng-controller="TripsController as trips">
  <div class="form" ng-submit="trips.createTrip()">
    <h3>Enter Your New Trip Information</h3>
    <form action="#">
      <!--
      :user_id,
      :location,
      :num_of_fish,
      :clientsHappy,
      :end,
      :rating,
      :start,
      :summary,
      :weather
      -->
      <div>
        <label for="location">Location</label>
        <input type="text" ng-model="trips.newTrip.newLocation">
      </div>
      <div class="row">
        <div class="col-md-8 col-offset-2">
          <label for="num_of_fish">Number of Fish Caught</label>
          <input type="text" ng-model="trips.newTrip.num_of_fish">
        </div>
      </div>
      <div>
        <label for="clientsHappy">Clients Happy?</label>
        <input type="checkbox" ng-model="trips.newTrip.clientsHappy">
      </div>
      <div>
        <label for="rating">Rating</label>
        <input type="number" ng-model="trips.newTrip.rating">
      </div>
      <div>
        <label for="summary">Summary</label>
        <input type="text" ng-model="trips.newTrip.summary">
      </div>
      <div>
        <label for="start">Start of Trip</label>
        <input type="text" ng-model="trips.newTrip.start">
      </div>
      <div>
        <label for="end">End of Trip</label>
        <input type="text" ng-model="trips.newTrip.end">
      </div>
      <button type="submit">Create Trip</button>
    </form>
        {{ trips.newTrip }}
        tripsController.foo is {{ trips.foo }}
  </div>
</section>
