<div class="home">
  <section ng-controller="TripsController as trips">
    <div class="form" >
      <h3>Click Edit to make changes</h3>
      <form ng-submit="trips.editTrip()">
        <div>
          <label for="location">Location</label>
          <input ng-disabled="trips.disableEdit === true" type="text" ng-model="trips.showTrip.location">
        </div>
        <div class="row">
          <div class="col-md-8 col-offset-2">
            <label for="num_of_fish">Number of Fish Caught</label>
            <input ng-disabled="trips.disableEdit === true" type="text" ng-model="trips.showTrip.num_of_fish">
          </div>
        </div>
        <div>
          <label for="clientsHappy">Clients Happy?</label>
          <input ng-disabled="trips.disableEdit === true" type="checkbox" ng-model="trips.showTrip.clientsHappy">
        </div>
        <div>
          <label for="rating">Rating 1-5</label>
          <input ng-disabled="trips.disableEdit === true" type="number" min="1" max="5" ng-model="trips.showTrip.rating">
        </div>
        <div>
          <label for="summary">Summary</label>
          <input ng-disabled="trips.disableEdit === true" type="text" ng-model="trips.showTrip.summary">
        </div>
        <div>
          <label for="start">Start of Trip</label>
          <input ng-disabled="trips.disableEdit === true" type="text" ng-model="trips.showTrip.start">
        </div>
        <div>
          <label for="end">End of Trip</label>
          <input ng-disabled="trips.disableEdit === true" type="text" ng-model="trips.showTrip.end">
        </div>
        <div>
          <label for="Weather">Weather summary</label>
          <input ng-disabled="trips.disableEdit === true" type="text" ng-model="trips.showTrip.weather">
        </div>
        <button type="submit">Submit Changes</button>
      </form>
        <button type="button" name="edit" ng-click="trips.toggleEdit()">Edit</button>
        <br>
        <button type="button" name="goToDashboard" ng-click="trips.goToDashboard()">Return to dashboard</button>
        <button type="button" name="deleteTrip" ng-click="trips.deleteTrip()" style="color:red">Delete trip</button>
    </div>
  </section>
</div>
