<!-- <section> -->
<div class="home">
  <section ng-controller="TripsController as trips" ng-init="trips.getAllTrips()">
    <h1>Welcome to the dashboard</h1>
    <h2>Here's a list of your trips</h2>
    <p>
      To see more information or edit a trip, please click on it.
    </p>
      <li ng-repeat="looperName in trips.tripData" ng-click="trips.goToShowPage(looperName)"> <a>{{ looperName.start | date : 'shortDate' }} {{ looperName.location }} {{ looperName.summary | limitTo: 20}}</a></li>
  </section>

  <section ng-controller="ChartsController as charts">
    <p>
      The chart data may take a while to load the first time.  Please wait.
    </p>
    {{ charts.tripData }}
    <div id="Customer_chart_div" style="margin: auto; max-width: 600px;"></div>
    <div id="location_chart_div" style="margin: auto; max-width: 900px;"></div>
    <div id="chart_div" style="margin: auto; max-width: 900px;"></div>
  </section>

</div>
<!-- </section> -->
