<section>
  Welcome to the dashboard -- the chart data may take a while to load the first time.  Please wait.
  <section ng-controller="ChartsController as charts">
    {{ charts.tripData }}

    <div id="Customer_chart_div" style="margin: auto; max-width: 600px;"></div>
    <div id="location_chart_div" style="margin: auto; max-width: 900px;"></div>
    <div id="chart_div" style="margin: auto; max-width: 900px;"></div>

  </section>
  <section ng-controller="TripsController as trips" ng-init="trips.getAllTrips()">
    <h2>Here's a list of your trips</h2>
    <p>
      To see more information about a trip, please click on it.
    </p>
    <ul>
        <li ng-repeat="looperName in trips.tripData" ng-click="trips.goToShowPage(looperName)"> <a>{{ looperName.start | date : 'shortDate' }} {{ looperName.location }} {{ looperName.summary | limitTo: 20}}</a></li>
    </ul>
  </section>
</section>
