<section ng-controller="UsersController as users">
  {{ users.test }}
  <form ng-submit="users.login()">
    <div class ="">
      <label for="username">username</label>
      <input type="text" ng-model="users.loginUsername">
    </div>
    <div>
      <label for="password">password</label>
      <input type="password" ng-model="users.loginPassword">
    </div>
    <button type="submit">login</button>
  </form>
</div>
<div>
  <form ng-submit="users.signup()">
    <div>
      <label for="username">username</label>
      <input type="text" ng-model="users.signupUsername">
    </div>
    <div>
      <label for="password">password</label>
      <input type="password" ng-model="users.signupPassword">
    </div>
    <button type="submit">Register</button>
  </form>
</section>
